/*HTML General*/
body{
    font-family: 'Quicksand', sans-serif;
}


/*Header*/
header{
    background-color: #431F87;
}

.imagenCandado{
    padding: 1em;
    width: 75px;
}

/*Body*/
body{
    background-color: aquamarine;
}

main{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    font-size: 25px;
}

section{
    width: 50%;
    padding: 1em;
}

div{
    padding: 0.5em;
}

textarea{
    font-size: 25px;
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
    border: none;
    resize: none;
    width: 100%;
    height: 550px;
}

.encriptar, .desencriptar{
    margin: 0 0.8em;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    color: white;
    background: linear-gradient(30deg,#431F87 80%,white 7.5%,#431F87);
    border: none;
    transition: 1s all;
}

.copiar{
    margin: 0 0.8em;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    color: white;
    background: linear-gradient(30deg,#431F87 80%,white 7.5%,#431F87);
    border: none;
    transition: 1s all;
}

button:disabled{
    opacity: 25%;
}

button:hover{
    background: linear-gradient(30deg,#431F87 90%,white 7.5%,#431F87);
    transform: scale(1.2);
}

/*Footer*/
footer{
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #431F87;
    padding: 1.5rem;
    color: white;
}

/*Responsive*/
@media screen and (max-width:480px){
    body{
        font-size: 12px;
    }

    header{
        width: 100%;
        height: 5%;
    } 

    .imagenCandado{
        width: 50px;
    }

    main{
        display: inline;
    }

    section{
        font-size: 13px;
        width: 90%;
        height: 100%;
        padding: 1em;
    }

    .encriptar, .desencriptar, .copiar{
        width: 90px;
        height: 30px;

    }

    textarea{
        font-size: 15px;
        width: 100%;
    }

    .ingresoUsuario{
        height: 240px;
    }

    #textoProcesado{
        height: 100px;
    }

    footer{
        position: fixed;
        bottom: 0;
    }
}