/*HTML General*/
body{
    font-family: 'Quicksand', sans-serif;
}


/*Header*/
header{
    background-color: #431F87;
}

.imagenCandado{
    padding: 1em;
    width: 75px;
}

/*Body*/
main{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    font-size: 25px;
}

section{
    padding: 2em;
}

div{
    padding: 0.5em;
}

textarea{
    font-size: 25px;
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
}

.encriptar, .desencriptar{
    margin: 0 0.8em;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    color: white;
    background: linear-gradient(30deg,#431F87 80%,white 7.5%,#431F87);
    border: none;
    transition: 1s all;
}

.copiar{
    margin: 0 0.8em;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    color: white;
    background: linear-gradient(30deg,#431F87 80%,white 7.5%,#431F87);
    border: none;
    transition: 1s all;
}

button:disabled{
    opacity: 25%;
}

button:hover{
    background: linear-gradient(30deg,#431F87 90%,white 7.5%,#431F87);
    transform: scale(1.2);
}

/*Footer*/
footer{
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0px;
    background-color: #431F87;
    padding: 1.5rem;
    color: white;
}

/*Responsive*/
@media screen and (max-width:740px){
    p{
        text-align: center;
    }
    
    main{
        width: auto;
        display: inline-flex;
    }
}